
doctype html
html
  title Detail
  |     
  body
    form(method='POST', action='/tutor/deleteTopic/#{topic_list.id}')
        input(type='submit', value='Delete Post', name='delete_button')
        br
    ul
        h3  Topic :  #{topic_list.title}
        br 
        li Detail :  #{topic_list.detail}

    form(method='POST', action='/tutor/detail/#{topic_list.id}')
        br
        | comment:
        br
        textarea#comment_text(name='comment_text', placeholder='Enter your comment')
        br
        input(type='submit', value='comment', name='submit_comment')
        br
    h1 Comment:
    br
    for i in comment_list
      p #{i.data}
      form(method='POST', action='/tutor/deleteComment/#{i.id}')
        input(type='submit', value='Delete Comment', name='delete_comment_button')
        br
