<title>Detail</title>
{% block body %}
  <h3>Topic : {{topic_list.title}}</h3>
  <br>
  <li>
    Detail : {{topic_list.detail}}
  </li>
  

  <form method="GET" action="/downloadfile/{{topic_list.fileUpload}}">
    <input type="submit" name="download_button" value="Download">
  </form>

  <!--<button id="download_button">Download</button>
     <script type="text/javascript">
        $("download_button").click(function(){
            window.open("/downloadfile/{{topic_list.id}});
           })) 
     </script>-->

  <br>
  <form method="POST" action="/examination/deleteTopic/{{topic_list.id}}">
    <input type="submit" name="delete_button" value="Delete Post">
  </form>
  

  <form method="POST" action="/examination/detail/{{topic_list.id}}">
    <br>
    comment :
    <br>
    <textarea name="comment_text" placeholder="Enter your comment">
    </textarea>
    <br>
    <input type="submit" name="submit_comment" value="comment">
  </form>
  <h1>Comment:</h1>
  <br>
  {% for i in comment_list %}
    {{i.data}}
    <br>
  <form method="POST" action="/examination/deleteComment/{{i.id}}">
    <input type="submit" name="delete_comment_button" value="Delete Comment">
  </form>
  {% endfor %}
{% endblock %}
